### Import Libraries

In [4]:
import arcpy 
import pandas as pd
import numpy as np
import os

### Set Path

In [5]:
path =  "C:\\Users\\padu\\Desktop\\UrbanInstitute\\Proximity Variables\\"
os.chdir(path)

In [6]:
crime  = pd.read_csv('CrimeData.csv')
crime

,Incident Number,Incident Date,Offense Code,STANDARDIZED STREET NUMBER,STREET
0,20180701003,7/1/2018,23F,1900.0,MATTHEWS TOWNSHIP PKWY
1,20180703002,7/3/2018,23F,300.0,CLEARBROOK RD
2,20180703005,7/3/2018,23G,13900.0,PHEASANTWOOD PL
3,20180704003,7/4/2018,13A,9900.0,MATTHEWS PARK DR
4,20180704005,7/4/2018,13B,9900.0,E INDEPENDENCE BLVD
...,...,...,...,...,...
4137,20210628007,6/28/2021,23C,1800.0,MATTHEWS TOWNSHIP PKWY
4138,20210628009,6/28/2021,240,1400.0,PINEVILLE-MATTHEWS RD
4139,20210629005,6/29/2021,13C,800.0,CAMERON VILLAGE DR
4140,20210630001,6/30/2021,220,2100.0,CPCC LN
4141,20210630003,6/30/2021,23F,1800.0,MATTHEWS TOWNSHIP PKWY

In [ ]:
crime['CrimeType'] = np.nan

In [ ]:
#Violent Crime 

crime['CrimeType'] = np.where(crime['Offense Code'].isin(['13A','13B','13C','120','09A','09B','11A','11B','11C','11D']),
                              'Violent Crime',crime['CrimeType'])

#Property Crime 

crime['CrimeType'] = np.where(crime['Offense Code'].isin(['200','220','240','23A','23B','23C','23E','23F','23G','23H','23D']),
                              'Property Crime',crime['CrimeType'])

#Animal Control Calls Service

crime['CrimeType'] = np.where(crime['Offense Code'].isin(['97']),'Animal Control',crime['CrimeType'])

#Disorder Calls for Service 

crime['CrimeType'] = np.where(crime['Offense Code'].isin(['31','34','40','44','49','55',
                                                          '56','60','63','69','73','74','76','82','85','88','89','91','93']),
                              'Disorder Calls',crime['CrimeType'])

In [ ]:
crime

In [ ]:
crime['Incident Date'] = crime['Incident Date'].astype('datetime64[ns]')

In [ ]:
crime = crime[(crime['Incident Date'] >= '2021-01-01') & (crime['Incident Date'] <= '2021-12-31')]

crime

In [ ]:
crime['STANDARDIZED STREET NUMBER'] = crime['STANDARDIZED STREET NUMBER'].fillna(0).astype(int)

In [ ]:
crime['STANDARDIZED STREET NUMBER'] = [str(row) for row in crime['STANDARDIZED STREET NUMBER']]

In [ ]:
crime

In [ ]:
crime['Street Address'] = crime['STANDARDIZED STREET NUMBER'] + " " + crime['STREET']

In [ ]:
crime

In [ ]:
crime = pd.DataFrame(crime[['Incident Number', 'Incident Date', 'Offense Code', 'STREET',
                            'CrimeType', 'Street Address']])

In [ ]:
crime

In [ ]:
crime.to_csv('CrimeDataFY21.csv',index = False)

In [ ]:
# HousingDensity = pd.read_csv('HousingDensity.csv')
# HousingDensity

In [ ]:
HousingDensity = pd.DataFrame(HousingDensity[['NPA', 'FY2011', 'FY2013', 'FY2015', 'FY2016', 'FY2017', 'FY2018', 'FY2020', 'FY2021','FY2022']])
HousingDensity

In [ ]:
HousingDensity.columns

In [ ]:
HousingDensity.to_csv('HousingDensityQOL2023.csv')